@tailwind base;
@tailwind components;
@tailwind utilities;


.title {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  z-index: 999;
}

.main-area {
  background: linear-gradient(to left, #0c112b, #7a16b9);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@keyframes animate {
  0% {
    opacity: 0; /* Start with opacity at 0 */
    border-radius: 50%;
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    opacity: 0.6; /* Fade in the circles to 60% opacity at 50% of the animation */
  }

  100% {
    opacity: 0; /* Fade out the circles back to 0 opacity at the end of the animation */
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0; /* Change this from -150px to 0 */
  animation: animate 25s linear infinite;
}
.circles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles div:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles div:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles div:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles div:nth-child(8) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 5s;
}

.circles div:nth-child(9) {
  left: 25%;
  width: 40px;
  height: 40px;
  animation-delay: 5s;
}

.circles div:nth-child(10) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
}

@font-face {
  font-family: "burtons";
  src: url("/Burtons.otf");
}

